
<% if logged_in? %>

  <!-- hồ sơ nhỏ (small profile) -->
  <%= render "shared/small-profile" %>
  
  <%= render "shared/advertisement" %>
  <!-- quảng cáo (advertisement)-->

  <%= render "shared/language" %>
   
  <div class="row user_and_micropots col-md-offset-2">
     <%= render "shared/form_micropost" %>
  </div>

  <div class="container">
    <div class="row micropost_feed col-md-offset-2">
      <aside class="col-md-12">
        <h3><%= t ".micropost_feed" %></h3>
        <%= render "shared/feed" %>
      </aside>
    </div>
  </div>

<% else %>
  <div class="row center jumbotron col-md-8  ">
    <h1><%= t ".welcome" %></h1>
   <!-- < render "shared/bootstrap-slider" %>  -->
    <h2>
      <%= t ".this_is_the_home" %>
      <%= link_to "Hung Yen University of Technology and Education", "http://www.utehy.edu.vn/" %>
    </h2>

  </div>
  <div class="row sign_up_now col-md-4">
    <%= render "users/new" %>
  </div>
  <div class="clearfix"></div>
<% end %>