<footer class="footer">
  <small>
    <%= t ".the" %><%= link_to t(".title"), "http://www.railstutorial.org/" %>
    <%= t ".by" %><%= link_to t(".author"), "http://www.michaelhartl.com/" %>
  </small>
  <div class = "col-md-12 row">
    <nav>
      <ul>
        <li><%= link_to t(".about"), about_path %></li>
        <li><%= link_to t(".contact"), contact_path %></li>
        <li><%= link_to t(".new"), "http://news.railstutorial.org/" %></li>
      </ul>
    </nav>
  </div>
</footer>
<div class="clearfix"></div>
<style type="text/css">
  .home_links:hover{
           background:#3B5998!important;
         }

   .dropbtn {  
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }
</style>